name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Если нет npm сборки, можно убрать
      # - run: npm ci && npm run build

      - uses: FirebaseExtended/action-hosting-deploy@v1
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseToken: ${{ secrets.FIREBASE_TOKEN }}
          channelId: live
          projectId: studio-151048688
    env:
      GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
